body {
    font-family: Open Sans,sans-serif;
    margin: 0 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#container {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    width: 90%;
    max-width: 1225px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#brand {
    flex: 50%;
    min-width: 550px;
}

h1 a {
    font-size: 50px;
    font-weight: normal;
    color: rgb(46, 61, 73);
    text-decoration: none;
}

#searchBox {
    flex: 50%;
    background: linear-gradient(#017A9B, #057595);
    min-width: 300px;
    height: auto;
    margin: 1em 0;
    padding: 20px;
    border-radius: 0.25ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    flex: 3;
    font-size: 15px;
    width: 300px;
    padding: 10px 15px 10px 15px;
    color: rgb(46, 61, 73);
    border: none;
    outline: none;
    border-radius: 0.25ch;
    background-color: white;
    background-image: url(images/searchicon.png);
    background-repeat: no-repeat;
    background-position: 270px;
}

.text:hover {
    outline: 1px solid rgb(9, 206, 255);
}

.submit {
    flex: 1;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(46, 61, 73);
    background: white;
    font-size: 15px;
    border: white;
    border-radius: 0.25ch;
    cursor: pointer;
}

.submit:hover {
    background-color: whitesmoke;
}

.submit:active {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
}


@media screen and (max-width: 600px) {
    .submit {
        display: none;
    }
}

.clear {
    clear: both;
}

#menu {
    background: linear-gradient(#017A9B, #057595);
    padding: 20px 0;
    width: auto;
}

#menu #items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#items a:last-child {
    border-right: none;
}

#items a {
    text-align: center;
    width: 20%;
    height: 30px;
    border-right: 1px solid rgb(46, 61, 73);
}

#items a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(46, 61, 73);
    line-height: 30px;
    transition: font-size 0.2s linear;
}

#items a:hover , #items a.active {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

/* small screens: vertical menu */
@media screen and (max-width: 720px) {
    #items {
        flex-direction: column;
        align-content: center;
    }

    #items a {
        border-right: none;
        width: 100%;
    }
}

#introduction {
    background: url(images/bg.jpg);
    background-size: cover;
    background-color: rgb(46, 61, 73);
    min-height: 350px;
    background-repeat: no-repeat;
    max-width: 1250px;
    color: white;
    padding: 30px;
    margin: 20px auto;
    background-blend-mode: soft-light;
    display: flex;
    flex-wrap: wrap;
}

#introduction h3 {
    font-size: 45px;
    color: white;
    font-weight: normal;
    text-align: left;
    min-width: 300px;
    flex: 1;
}

#introduction p {
    font-size: 14px;
    color: white;
    text-align:left;
    width: fit-content;
}



#content {
    max-width: 1250px;
    border: none;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}


.sidebarWrapper {
    padding: 5px;
    flex: 50%;
    width: 550px;
    min-width: 500px;
}

.sidebar {
    height: 100%;
    width: 100%;
    flex: 50%;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(21,34,58,.13);
    padding: 10px 30px;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    -ms-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
}

.sidebar:hover {
    box-shadow: 10px 10px 25px rgba(21,34,58,.13);
}

.sidebar h3 {
    color: #017A9B;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.sidebar ul {
    padding-top: 15px;
    margin: 5px;
    list-style: none;
}

#leftsidebar ul li {
    margin: 5px;
    padding: 10px;
    list-style-image: url(images/arrow_icon.png);
    height: 40px;
}

#rightsidebar ul li {
    height: 50px;
    padding: 0 40px;
    margin: 40px 10px;
    background: url(images/tick_icon.png);
    background-repeat: no-repeat;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(46, 61, 73);
    transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -moz-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    -o-transition: font-size 0.2s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #017A9B;
    font-size: 22px;
    font-weight: bold;
}

.footer {
    height: 100px;
    background: black;
    margin-top: 20px;
    color: white;
    display:flex;
}

.footer .copyright {
    padding: 30px 30px;
    font-size: 13px;
    width: 1250px;
    margin: 0 auto;
    text-align: center ;
}